[user]
    name = YUJI MORI
	email = mori.yuji@techcross.co.jp

[core]
    excludesfile = ~/.gitignore
	autocrlf = false
	editor = vim
	safecrlf = false
[color]
    ui = auto
	status = auto
    branch = auto

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    #whitespace = red reverse

[color "status"]
    added = yellow
    changed = green

[alias]
    st = status
    sh = show
    sb = show-branch
    br = branch -a
    brm = branch -m
    rema = rebase origin/master master
    ci = commit
    cm = commit
    cmt = commit -v
    coma = commit -a -v
    cma = commit -a -v
    co = checkout
    cl = clone
    dc = diff --cached
    df = diff
    d = diff -C
    ds = diff -C --stat
    dsp = diff -C --stat -p
    dw = diff -C --color-words
    dwd = git diff --word-diff
    info = remote show origin
    l = log --graph -n 20 --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(green)- %an, %cr%Creset'
    lg = log --graph --all --color --pretty='%x09%h %cn%x09%s %Cred%d'
    ll = log --stat --abbrev-commit
    ln = log --graph -n 20 --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(green)- %an, %cr%Creset' --name-status
    lp = log --oneline -n 20 -p
    la = log --oneline --pretty=format:'[%ad] <%h> %an : %s' --date=raw
    ls = log --stat --abbrev-commit -n 1 # display previous logk
    graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
[push]
	default = tracking
